@import "animations/flipcard";
@import "pages/registration";
@import "pages/guest/organization";
@import "pages/profile";
.main-content {
    min-height: 90vh;
}
.organization__logo-preview {
    width: 100px;
    height: 100px;
    border-radius:100%;
}

.organization__banner-preview {
    width: 100%;
    height: 300px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-nav-logo {
    padding: 15px;
}

.clear { clear: both; }

tr.grid-filter {

    th.grid-filter_item {
        padding: 5px !important;
    }

    input, select {
        text-align: center;
    }
}
