.user-profile-picture {
    width: 100px;
    height: 100px;
    border-radius:100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    span {
        display: none;
    }
    &:hover {
        span {
            display: inline-block;
            position: absolute;
            left: 0;
            /* top: 35px; */
            cursor: pointer;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            padding: 40px 17px;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}


